@model CRUDCANDIDATOS.Models.ViewModels.CandidateViewModel

@{
    ViewData["Title"] = "Candidate_Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Candidato</h1>


<div class="row">
    <form asp-action="Candidate_Detail" asp-controller="Candidate" method="post">
        <div class="col-sm-4">
            <input type="hidden" asp-for="IDCandidate" />
            <input type="hidden" asp-for="@Model.InserDate" />
            <div cite="mb-2">
                <label class="form-label" asp-for="Name">Nombre</label>
                <input class="form-control form-control-sm" asp-for="@Model.Name" type="text" readonly="readonly"/>
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="Surname">Apellidos</label>
                <input class="form-control form-control-sm" asp-for="@Model.Surname" type="text" readonly="readonly"/>
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="Birthdate">Fecha de Nacimiento</label>
                <input class="form-control form-control-sm" asp-for="@Model.Birthdate" type="date" readonly="readonly"/>
            </div>
            <div cite="mb-2">
                <label class="form-label" asp-for="Email">Correo</label>
                <input class="form-control form-control-sm" asp-for="@Model.Email" type="text" readonly="readonly"/>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
            @if (@Model.IDCandidate != 0)
            {
                <div class="card ">
                    <div class="card-header">
                        <h5>Experiencia del Candidato</h5>
                    </div>
                    <div class="card-body ">                    
                        <hr />
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Compañia</th>
                                    <th>Puesto</th>
                                    <th>Descripcion</th>
                                    <th>Salairo</th>
                                    <th>Desde</th>
                                    <th>Hasta</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Experience != null)
                                {
                                    @foreach (var item in Model.Experience)
                                    {
                                        <tr>
                                            <td>@item.Company</td>
                                            <td>@item.Job</td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Salary</td>
                                            <td>@item.BeginDate</td>
                                            <td>@item.EndDate</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" asp-action="Experience_Query" asp-controller="Experience" asp-route-idCandidateEx="@item.IDCandidateExperience" asp-route-idCandidate="@Model.IDCandidate">Consultar</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div cite="mb-2">
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
                <hr />
            </div>
        </div>
    </form>
</div>
